body {
  align-items: center;
  background-color: #000;
  justify-content: center;
  color: #fff;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.createDataCard {
  border: 2px solid black;
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background-color: #15172b;
  border-radius: 12px;
}
.readDataCard {
  border: 2px solid black;
  width: 75%;
  margin: 50px auto;
  text-align: center;
  background-color: #15172b;
  border-radius: 12px;
}

.inputField {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 20px;
  margin: 5px 0;
  width: 50%;
}

.submitBtn {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin: 10px 0;
  text-align: center;
  width: 50%;
}

.submitBtn:active {
  background-color: #06b;
}
.errorMsg {
  color: red;
}
.successMsg {
  color: #32cd32;
  margin: 10px 0;
}

/* .editBtn {
  background-color: #32cd32;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  margin: 0 0 10px 20px;
  text-align: center;
  width: 20%;
  float: right;
} */

/* .deleteBtn {
  background-color: #ff0038;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 30px;
  margin: 0 0 10px 20px;
  text-align: center;
  width: 20%;
  float: right;
} */

.viewDataBtn {
  display: block;
  width: 50%;
  background: #08d;
  padding: 15px;
  margin: 10px auto !important;
  text-align: center;
  border-radius: 12px;
  color: #eee;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-decoration: none;
}

.editBtn {
  display: block;
  width: 50%;
  background: #32cd32;
  padding: 15px;
  margin: 10px auto !important;
  text-align: center;
  border-radius: 12px;
  color: #eee;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-decoration: none;
}

.deleteBtn {
  display: block;
  width: 50%;
  background: #ff0038;
  padding: 15px;
  margin: 10px auto !important;
  text-align: center;
  border-radius: 12px;
  color: #eee;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-decoration: none;
}
